.form {
    display: flex;
    align-items: center;
    margin: 2rem auto;
}
input::placeholder {
    color: #292929;
}
input:focus {
    color: #292929;
}
.weather__search-input {
    background-color: black;
    border: none;
    font-size: 140px;
    font-size: 9vw;
    max-width: 50%;
}

.weather__search-input {
    color: #292929;
    width: 50%;
}

.weather__search-button {
    background-color: #292929;
    color: #fff;
    border: 1px solid #292929;
    border-radius: 5px;
    width: 6rem;
    height: 3rem;
}