input::placeholder {
    color: #292929;
}
input:focus {
    color: #292929;
}
.weather__search-input {
    background-color: black;
    border: none;
    font-size: 140px;
    font-size: 9vw;
    max-width: 50%;
}

.weather__search-input:focus {
    color: #292929;
    width: 50%;
}